body {
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    background-image: linear-gradient(29deg, #512DA8 50%, #673AB7 50%);
  }
  a {
    text-decoration:none;
  }
  a:hover, a:active, a:focus {
    color: dark black;
    outline: none;
    font-size:20px;
  }
  h1, h2, h3, h4, h5, h6, figure {
    color: white;
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  
    p{
      padding: 0 20px;
      margin-bottom: 25px;
      color:white;
      }
    .info {
    margin: 0;
    padding: 0;
  
  }
   .info li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
  }
  
  
  .info li .first-block {
    width: 15%;
    float: left;
    color: white;
    font-weight: bold;
  }
  
  
  .fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fh5co-social-icons li a i {
    font-size: 20px;
  }
  
  #fh5co-about .fh5co-social-icons li {
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  #fh5co-about .fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #fff;
    background: #2F3C4F;
    padding: 10px 10px 2px 10px;
  }
  #fh5co-about .fh5co-social-icons li a i {
    font-size: 20px;
  }
  #fh5co-about .fh5co-social-icons li a:hover {
    background: gray;
  }
  
  #logo {
    margin: 15px; 
    float: left;
    height: 100px;
    width: 100px; 
    border-radius: 50%; 
  }